* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-div{
    background: rgba(229, 84, 115, 0.15);

}
.nav-container {
    background: rgba(229, 84, 115, 0.10);
    height: 100vh;
}

.font-text {
    margin-top: 15%;
}

.font-img {
    height: 81vh;
}

.font-img-cont {
    position: relative;
    display: flex;
    align-items: end;
}

.sub-feature {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.feature-flower-1 {
    height: 538px;
    align-items: end;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.feature-flower-2 {
    height: 538px;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.feature-flower-3 {
    height: 538px;
    align-items: end;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.feat-flow {
    height: 350px;
}

.hot-container {
    background: rgba(229, 84, 115, 0.10);

}

.get-latest-img{
    width: 99%;

}

@media only screen and (max-width: 580px) {
    .font-img {
        height: 59vh !important;
        display: flex;
        align-items: end;
        margin-top: 24vh;
    }

    .font-img-cont {
        position: absolute;
        display: flex;
        align-items: end;
    }
    .font-text {
        margin-top: 2%;
    }

    .hot-deal-img {
        display:flex;
        margin: auto;
        margin-inline-start: 100%;

    }
    .hot-deal-image{
        margin: auto;
    }

    .get-latest-img{
        height: 22vh;
        width: 100%;

    }
    .get-latest-card{
        margin-top: -2rem!important;

}

}